// FOR FONTS
@font-face {
    font-family: 'Rosewind';
    src: url(../fonts/Rosewind-Regular.woff2) format('woff2');
    
}

@font-face {
    font-family: 'Mulish';
    src: url(../fonts/Mulish-Regular.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Mulish';
    src: url(../fonts/Mulish-SemiBold.woff2) format('woff2');
    font-weight: 600;
}